body{
    /*background-color: skyblue;
    background-image:url(backgroundBlue.jpg);*/
}
.main{
    box-sizing: border-box;
    width: 80vw;
    height: 100%;
    background-color: white;
    margin: auto;
}
.main img{
    width: 90%;
    margin: auto;
    height: 300px;
    display: block;
    /*padding: 0px 20%;*/
    background-color: rgba(143, 239, 153, 0.2);
    /*background-image: url(CalcBack.jpg);*/
    background-color: black;
    border: 0.1px solid black;
}
.main .p1{
    margin:30px 5%;
    font-size: 20px;
    color: black;
}
aside{
    width: 32%;
    /*margin: 0px auto;*/
    justify-content: space-between;
}
/*.aside2 h1{
    border-left: 1px solid white;
    border-right: 1px solid white;
}
.aside1 h1{
    border-left: 1px solid white;

}
.aside3 h1{

    border-right: 1px solid white;
}*/
.aside1 p, .aside2 p, .aside3 p, aside ul li, .aside1 h1, .aside2 h1, .aside3 h1 {
    font-size: 20px;
    width: 100%;
    /*text-align: center;*/
    /*margin-left: 9%;
    margin-right: 9%;*/
    padding: 0px;
    /*margin: auto;*/
}
.img{
    width: 100%;
    height: 200px;
    /*margin-left: 9%;
    margin-right: 9%;*/
    padding: 0px;
    margin: auto;
    border: 0.1px solid black;
}
aside h3{
    color: gray;
}
.sticky{
    position: sticky;
    top: 71px;
    background-color: #1e4fa4;
    text-align: center;
    width: 80%;
    color: white;
    /*margin-left: 9%;
    margin-right: 9%;*/
    line-height: 40px;
    /*border-radius: 50px;*/
    border-radius: 5px;
    font-weight: 100;
}
.sticky2{
    position: sticky;
    top: 72px;
    text-align: center;
    width: 90%;
    line-height: 40px;
    margin:0px auto 50px auto;
    font-size: 20px;
    background-color: #1e4fa4;
    color: white;
    font-weight: 100;
    border-radius: 5px;
}
.contAside{
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    height: 1200px;
    background-color: white;
    display: flex;
    justify-content: center;
}
.ContMainAside{
    width: 90%;
    height: 100%;
    background-color: white;
    margin: auto;
}
.divDiv{
    box-sizing: border-box;
    width: 81.7%;
    display: flex;
    justify-content: space-between;
}
.sticky3{
    position: fixed;
    top: 70px;
    left: 0;
    margin-top: 70px;
    height: 50px;
    background-color: white;
    text-align: center;
    color: white;
    align-items: center;
    justify-content: center;
    margin: 0px;
    font-weight: 100;
    width: 100%;
}






@media (max-width: 980px){
    .contAside{
        display: block;
    }
    .divDiv{
        box-sizing: border-box;
        width: 100%;
        display: block;
    }
    .aside1{
        width: 80%;
        margin: auto;
    }
    .aside2{
        width: 80%;
        margin: auto;
    }
    .aside3{
        width: 80%;
        margin: auto;
    }
    .img{
        height: 300px;
    }
    .contAside{
        height: 2300px;
    }
}



@media (max-width: 750px){
    .contAside{
        height: 2200px;
    }
    .main img{
        height: 200px;
    }
    .img{
        height: 200px;
    }
}
@media (max-width: 605px){
    .contAside{
        height: 2400px;
    }
}

@media (max-width: 550px){
    .contAside{
        width: 100%;
        height: 2300px;
    }
    .ContMainAside{
        width: 100%;
    }
    .main{
        width: 100%;
    }
    .aside1{
        width: 90%;
    }
    .aside2{
        width: 90%;
    }
    .aside3{
        width: 90%;
    }
}

@media (max-width: 450px){
    .contAside{
        height: 2500px;
    }
}

@media (max-width: 400px){
    .contAside{
        height: 2600px;
    }
}

@media (max-width: 370px){
    .contAside{
        height: 2700px;
    }
}

@media (max-width: 345px){
    .contAside{
        height: 2800px;
    }
}

@media (max-width: 325px){
    .contAside{
        height: 2900px;
    }
}