header{
    background-color: white;
    height: 70px;
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    display: flex;
    justify-content: center;
    z-index: 100;
}
header .innerHeader{
    height: 100%;
    width: 72vw;
    display: flex;
    align-items: center;
    background-color:  white;
    margin: auto;
}
header .logo{
    background-color: white;
    font-size: 35px;
    margin: auto 0px;
    /*border: 3px solid darkblue;
    border-radius: 100px;
    padding: 0px 10px;*/
    font-weight: 100;
}
header .nav{
    margin-left: auto;
    height: 70px;
}
header ul .lista1{
    display: inline-block;
    list-style: none;
    padding-left: 5px;
    padding-right: 5px;
}
header .innerHeader ul button{
    background-color: white;
    height: 40px;
    border:none;
    border-radius 20px;
    color: black;;
    font-size: 16px;
}
header .innerHeader ul button:hover{
    cursor: pointer;
}

.innerHeader .calculadora{
    border-radius: 50px;
    background-color: #1e4fa4;
    border: none;
    height: 40px;
    width: 100px;
    color: white;;
    font-size: 15px;
    margin-left: 20px;
}
.innerHeader .calculadora:hover{
    cursor: pointer;
    background-color: deepskyblue;
    color: white;
}
.innerHeader .logo span{
    font-weight: 900;
    color: #1e4fa4;
}
.innerHeader .logo a{
    text-decoration: none;
    color: black;
    font-size: 35px;
}
#checkbox{
    display: none;
}
.icon-menu{
    display: none;
}



@media (max-width: 981px){
    header .nav{
        position: absolute;
        transform: translate(-250px, 70px);
        width: 0px;
        margin: auto;
    }
    header .nav ul{
        width: 150px;
        margin: auto;
    }
    header .nav ul li{
        background-color: ghostwhite;
        border: 1px solid black;
        display: block;
        border-bottom: 1px solid black;
        margin: auto;
        height: 50px;
        text-align: center;
    }
    header .nav ul li button{
        background-color: ghostwhite;
        margin: auto;
        color: black;
        height: 20px;
    }
    .innerHeader{
        justify-content: flex-end;
    }
    .innerHeader .calculadora{
        margin-left: auto;
        margin-right: 60px;
    }
    #checkbox:checked ~.nav{
        display:  none;
    }
    .icon-menu{
        display: inline;
        font-size: 40px; 
        position: absolute;
    }
    .lista1 .botonInicio, .lista1 .botonAcerca, .lista1 .botonContacto{
        margin: 15px;
    }
}



@media (max-width: 640px){
    .innerHeader .calculadora{
        display: block;
        transform: translate(0px, 216px);
        border-radius: 0px;
        width: 150px;
        height: 50px;
    }
    header .innerHeader{
        height: 100%;
        width: 100vw;
        justify-content: flex-end;
    }
    .icon-menu{
        margin-left: auto;
    }
    header .logo{
        position: absolute;
        left: 0;
    }
    #checkbox:checked ~.calculadora{
        display:  none;
    }
    .lista1 .botonInicio, .lista1 .botonAcerca, .lista1 .botonContacto{
        margin: 15px;
    }
}